body{
    background-color: #444444;
    color: rgb(228, 228, 228);
    text-align: center;
    font-size: x-large;
}
.destination{
    color: #fa4011;
}
.present{
    color: #4dd438;
}
.difference{
    color: #309edd;
}